@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

$theme: #2196f3;

.checkedTodo {
	text-decoration: line-through;
	color: #656565;
}


.spacer {
	@media screen and (min-width: 960px) {
		height: 50px;
	}
}

.rbc-month-view .rbc-event {
	background-color: $theme;
}

.rbc-time-view .rbc-event {
	background-color: $theme;
}

