$theme: #2196f3;
$secondary: #f50057;

.checkedTodo {
	text-decoration: line-through;
	color: #656565;
}


.spacer {
	@media screen and (min-width: 960px) {
		height: 50px;
	}
}

.rbc-month-view .rbc-event {
	background-color: $theme;
}

.rbc-time-view .rbc-event {
	background-color: $theme;
}

div.rbc-time-content div.rbc-events-container {
	margin-right: 2px;
}

.rbc-time-view{
	max-height: 570px;
	overflow-y: scroll;
}

.darkModeCal{
	.rbc-toolbar{
		color: #fff;
		button{
			color: inherit;
		}
		button.rbc-active{
			color: #000;
		}
	}
	.rbc-agenda-view{
		color: indianred;
	}
	.rbc-date-cell{
		color: #fff;
	}
	.rbc-off-range{
		color: #999;
	}
	.rbc-date-cell.rbc-now.rbc-current{
		color: #000;
	}
	.rbc-month-header{
		color: #fff;
	}
	.rbc-time-header-cell{
		color: #fff;
		.rbc-today{
			color: #000;
		}
	}
	.rbc-time-column{
		color: #fff;
	}
	.rbc-time-content > div.rbc-day-slot.rbc-time-column.rbc-now.rbc-today{
		background-color: inherit;
	}
	.rbc-time-header > div.rbc-time-header-content > div.rbc-allday-cell > div.rbc-row-bg > .rbc-day-bg{
		background-color: inherit;
	}
}

.cal-dropdown {
	background-color: inherit;
	padding: 5px;
	border-top: "none";
	text-align: center;
  	background-color: inherit;
	margin: 0 auto;
	  div {
		margin: 5px;
		border: 1px solid #E5E5E5;
		a {
			text-decoration: none;
			color: $theme;
			font-size: 16px;
		}
	}  
}
